conda.enabled = true

params {
	input = null // samplesheet
	run_dir = null
	fastq_outdir = null
	bam_outdir = null
	fastq_list = null // can be provided to independently run alignment
	steps = ['demux','align','multiqc']
	validate_params = true
	show_params_summary = true
}

plugins {
	id 'nf-validation' // paramater validation and samplesheet parsing
}
